:root {
  --animation-play-speed: 20000ms;
  --animation-play-state: paused;
  --cubic-bezier-standard: cubic-bezier(0.5, 0, 0.1, 1);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-90: rgba(255, 255, 255, 0.9);
  --white: #fff;
  --orange: #ff7922;
  --yellow: #feca57;
  --green: #badc58;
  --brown: #4d2b14;
  --blue: #0076c5;
  --blue-dark: #015e9c;
  --gradient-banana: linear-gradient(
    188deg,
    var(--yellow) 5%,
    var(--yellow) 47%,
    var(--green) 100%
  );
  --height-header: 75px;
  --height-footer: 125px; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  overflow: hidden; }

button {
  appearance: none;
  background: none;
  border: none; }

button > * {
  pointer-events: none; }

@keyframes slideDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(105vh); } }

@keyframes swing {
  0% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

@keyframes exit {
  0% {
    transform: scale(1); }
  4%,
  10% {
    transform: scale(0.5); }
  25%,
  40% {
    transform: scale(1.25); }
  50%,
  53% {
    transform: rotate(50deg); }
  75% {
    opacity: 1; }
  100% {
    transform: rotate(-150deg) scale(0.1);
    opacity: 0; } }

@keyframes pressStart {
  0% {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(0) scale(1);
    opacity: 1; }
  50%,
  95% {
    background-color: var(--blue-dark);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(5px) scale(0.9); }
  100% {
    opacity: 0; } }

.slideDown-animation {
  animation: slideDown var(--animation-play-speed) linear;
  animation-play-state: var(--animation-play-state); }

.swing-animation {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px; }

.exit-animation {
  animation: exit 750ms var(--cubic-bezier-standard); }

.pressStart-animation {
  animation: pressStart 700ms var(--cubic-bezier-standard); }

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--yellow);
  background: var(--gradient-banana);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4; }

.start-screen.hide {
  opacity: 0;
  z-index: -1;
  transition: all 500ms var(--cubic-bezier-standard); }

.start-screen .title {
  font-family: "Archivo Black", sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--brown);
  letter-spacing: -1.25px;
  line-height: 0.85;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 4rem; }

.start-screen .title .icons {
  display: inline-flex;
  margin-top: 1rem;
  font-size: 2rem; }

.start-screen .start {
  background-color: var(--blue);
  border-radius: 40px;
  color: var(--white);
  display: inline-flex;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  outline: none;
  padding: 5px 40px;
  min-width: 130px;
  transition: background-color 400ms var(--cubic-bezier-standard);
  position: absolute;
  bottom: 12vh; }
  .start-screen .start:hover {
    background-color: var(--blue-dark);
    transition: background-color 400ms var(--cubic-bezier-standard); }

.header {
  display: flex;
  height: var(--height-header);
  position: relative;
  z-index: 3; }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr;
  grid-gap: 20px;
  width: 100%;
  position: relative;
  height: var(--height-footer);
  z-index: 3;
  align-items: center; }

.footer .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1; }
  .footer .input-wrapper input {
    width: 90%;
    margin-bottom: 10px; }
  .footer .input-wrapper label {
    width: 100%;
    background: red;
    text-align: center;
    font-size: 1rem; }

.footer .center-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-row-start: 2;
  grid-column: 1 / span 3; }

.footer .btn {
  background-color: var(--blue);
  border-radius: 40px;
  color: var(--white);
  display: inline-flex;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  outline: none;
  padding: 5px 40px;
  min-width: 130px;
  transition: background-color 400ms var(--cubic-bezier-standard); }
  .footer .btn:hover {
    background-color: var(--blue-dark);
    transition: background-color 400ms var(--cubic-bezier-standard); }
  .footer .btn:first-child {
    margin-right: 20px; }

.background {
  position: absolute;
  top: 0;
  background-image: url("https://cdn.dribbble.com/users/1064465/screenshots/2907979/donutplains_lights.gif");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  filter: blur(2px);
  width: 100vw;
  height: 100vh; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  background: paleturquoise;
  height: calc(100vh - (var(--height-header) + var(--height-footer)));
  overflow: hidden;
  width: 100vw;
  padding: 0 2.5rem; }

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
  align-items: center; }
  .column:first-child {
    align-items: flex-end; }
  .column:last-child {
    align-items: flex-start; }

.banana {
  position: absolute;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem; }

.banana > span:after {
  content: attr(data-points) "pts";
  font-size: 0.875rem;
  position: absolute;
  top: 50%;
  left: -40%;
  background-color: var(--white-50);
  padding: 2px 10px;
  color: #010101;
  border-radius: 4px; }

.banana:focus {
  outline: none; }

.banana:disabled {
  opacity: 0.5;
  cursor: not-allowed; }
