@keyframes _slideDown_1l5gq_11 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

._slideDown_1l5gq_11 {
  animation: _slideDown_1l5gq_11 3000ms linear;
}

._isPlaying_1l5gq_15 {
  animation-play-state: var(--animation-playing);
}

._isPaused_1l5gq_19 {
  animation-play-state: var(--animation-paused);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  overflow: hidden;
}
