@keyframes _slideDown_1px6g_15 {
  0% {
    transform: translateY(0);
  }

  99% {
    transform: translateY(110vh);
  }

  100% {
    transform: translateY(110vh);
  }
}

._slideDown_1px6g_15 {
  animation-name: _slideDown_1px6g_15;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
