@keyframes _slideDown_4g2uy_15 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(125vh);
  }
}

._noAnimation_4g2uy_11 {
  animation: none;
}

._slideDown_4g2uy_15 {
  animation-name: _slideDown_4g2uy_15;
}

._visibilityVisible_4g2uy_19 {
  opacity: 1;
}

._visibilityHidden_4g2uy_23 {
  opacity: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
