@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  99% {
    transform: translateY(110vh);
  }

  100% {
    transform: translateY(110vh);
  }
}

.slideDown {
  animation-name: slideDown;
}
