@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  99% {
    transform: translateY(110vh);
  }

  100% {
    transform: translateY(110vh);
  }
}

.noAnimation {
  animation: none;
}

.slideDown {
  animation-name: slideDown;
}

.visibilityVisible {
  /* visibility: visible; */
  opacity: 1;
}

.visibilityHidden {
  /* visibility: hidden; */
  opacity: 0;
}
