:root {
  --animation-play-state: paused;
  --cubic-bezier-standard: cubic-bezier(0.5, 0, 0.1, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

main {
  overflow: hidden;
}

button {
  appearance: none;
  background: none;
  border: none;
}

button > * {
  pointer-events: none;
}

.btn {
  width: 100px;
  border: 2px solid white;
  color: white;
  height: 40px;
  margin: 0 1rem;
  font-size: 1rem;
}

.header {
  display: flex;
  background-color: palevioletred;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5vh;
  z-index: 3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: paleturquoise;
  height: 95vh;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
  align-items: center;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes exit {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-800deg);
    opacity: 1;
  }

  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.slideDown-animation {
  animation: slideDown 10000ms linear;
  animation-play-state: var(--animation-play-state);
}

.swing-animation {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
}

.exit-animation {
  animation: exit 500ms var(--cubic-bezier-standard);
}

.banana {
  position: absolute;
  top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.banana:focus {
  outline: none;
}

.banana:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
