:root {
  --animation-play-state: paused;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  overflow: hidden;
}

.header {
  display: flex;
  background-color: palevioletred;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  z-index: 3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: paleturquoise;
  height: 100vh;
}

.column {
  display: flex;
  position: relative;
  top: -100px;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(125vh);
  }
}

.animation {
  animation: slideDown 2000ms linear;
  animation-play-state: var(--animation-play-state);
}

svg {
  margin: 0 auto;
}
