.background {
  position: absolute;
  top: 0;
  background-image: url("https://cdn.dribbble.com/users/1064465/screenshots/2907979/donutplains_lights.gif");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  filter: blur(2px);
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  background: paleturquoise;
  height: calc(100vh - (var(--height-header) + var(--height-footer)));
  overflow: hidden;
  width: 100vw;
  padding: 0 2.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -100px;
  align-items: center;

  &:first-child {
    align-items: flex-end;
  }

  &:last-child {
    align-items: flex-start;
  }
}
