.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: var(--yellow);
  background: var(--gradient-banana);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
}

.start-screen.hide {
  opacity: 0;
  z-index: -1;
  transition: all 500ms var(--cubic-bezier-standard);
}
.start-screen .title {
  font-family: "Archivo Black", sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--brown);
  letter-spacing: -1.25px;
  line-height: 0.85;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.start-screen .title .icons {
  display: inline-flex;
  margin-top: 1rem;
  font-size: 2rem;
}

.start-screen .start {
  display: inline-flex;
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  padding: 5px 40px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 40px;
  position: absolute;
  bottom: 12vh;
}
